*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: #1d2c4e;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho-imagem{
    width: 10%;
    
}

.cabecalho-lista-item{
     display: inline-block;
     margin: 0 19px;
     font-size: 25px;
}
